
<div class="row">
  <div class="list-group">
	{{#each specialEvent in controller}}
	  <a class="list-group-item" data-toggle="collapse" {{bind-attr href=controller.collapseId}}>{{specialEvent.date}} | {{specialEvent.name}} | {{specialEvent.status}} | [{{#link-to 'special-event.edit' specialEvent}}edit{{/link-to}}]</a>
      <div class="collapse" {{bind-attr id=specialEvent.id}}>
          <div class="well">
            {{specialEvent.fireDepartmentRequirements.paradeOrRace}}
            {{specialEvent.eventTypes}}
          </div>
        </div>
	{{/each}}
  </div>
</div>
<div class="row">
    {{outlet}}
</div>