<div class="row">
  
</div>
<div class="row">

  <div class="col-md-6">
    {{outlet}}
  </div>
  <div class="col-md-6">
    <h4>{{name}}</h4>
      <ul class="list-group">
        <li class="list-group-item">{{location}}</li>
        <li class="list-group-item">{{purpose}}</li>
        <li class="list-group-item">Sponsored by: 
            {{#each organization in organizations.content}}
                {{organization.name}}
            {{/each}}
        </li>
        <li class="list-group-item">{{dateSubmitted}}</li>
        <li class="list-group-item">For the benefit of: 
            {{#each beneficiary in beneficiaries.content}}
                {{beneficiary.name}}
            {{/each}}
        </li>
        <li class="list-group-item">{{date}}</li>
        <li class="list-group-item">{{website}}</li>
      </ul>
  </div>
</div>

